RESAMANIA_EMAIL=ton_email
RESAMANIA_PASSWORD=ton_mot_de_passe
HEADLESS=false
DRY_RUN=true
PAGE_WAIT_MS=5000

EXPECTED_CARDS_PER_SLOT=5
CARD_LOAD_MAX_SCROLLS=35
CARD_LOAD_SCROLL_PX=700
CARD_SCROLL_WAIT_MS=1200

USE_DIRECT_PLANNING_URL=true
PLANNING_BASE_URL=https://member.resamania.com/larucheauxsports/planning
RESAMANIA_CLUB_PATH=/larucheauxsports/clubs/2508
RESAMANIA_ACTIVITY_GROUP_PATH=/larucheauxsports/activity_groups/392
RESAMANIA_MOMENT=17:00-19:00